#title 	{
    float:left;
    font-size:x-large;
    font-weight:700;
    text-decoration: underline;
}
#title::before{
    content: "";
    white-space: pre;
}
#title::after { 
    content: "";
    width:100vw;
    height: 1px;
clear: both;
display: block;
}



.toc {
  position: relative;
  flex-basis: 260px;
  background: #F5F5F5;
}

.toc p {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #555;
}

.toc ul {
  position: fixed;
  /* Chrome (asshole) */
  position: sticky;
  /* Firefox */
  margin-top: 2em;
  top: 4em;
}

.toc svg {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: auto;
  display: none;
  stroke: #05b78e;
  transform: translateY(-50%);
}

.toc-reading svg {
  display: block;
}

.toc ul {
  width: 200px;
  counter-reset: articles;
  padding: 0;
}

.toc li {
  display: block;
  counter-increment: articles;
}

.toc li + li {
  margin-top: 2em;
}

.toc a {
  display: block;
  padding: 0 1.1em 0 3.2em;
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a.toc-reading,
a.toc-already-read.toc-reading {
  color: #05b78e;
  opacity: 1;
}

a.toc-already-read {
  opacity: 0.4;
}

.toc a:before {
  content: counter(articles, decimal);
  position: absolute;
  bottom: auto;
  left: 0;
  top: 50%;
  width: 36px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  transform: translateY(-50%);
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
  color: #4d4d4d;
}
